<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/articles.css">
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <title>Users list</title>
</head>
<body>

    <%- include('partials/header') %>
    <%- include('partials/scrollToTop') %> 

    <h1 class = "UserListLable">Users list</h1>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <%for(let i = 0; i < userList.length; i++) { %> 
                    <tr>
                        <td><%=userList[i].username%></td>
                        <td><%=userList[i].first_name%> <%=userList[i].last_name%></td>
                        <td><%=userList[i].email%></td>
                    </tr>
                <%}%>
            </tbody>

        <table>
    </div>

    <%- include('partials/footer') %> 
    <script src = "/js/scrollToTop.js"></script>
    
</body>
</html>